@media screen and (max-width: 768px) {

.audio-player {
    width: 90%;
    max-width: 320px;
    margin: 10px auto;
    text-align: center;
  }
  
  .voiceeffect-rectangle {
    padding: 16px;
    margin: 10px auto;
    text-align: center;
    max-width: 320px;
  }
  
  .voiceeffect-text {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  
  .audio-button {
    font-size: 15px;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 12px;
    width: 50%;
    height:50%;
  }
  
  .progress-bar {
    direction: rtl;
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #1bbfe5;
    transition: width 0.1s linear;
  }
  .mic-icon{
    width:auto;
    height: 10vh;
  }
  .time-display {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #333;
    text-align: left;
    direction: ltr;
  }
  
.time-current.dark {
  color: #eee; /* בהיר יותר במצב כהה */
  font-weight: bold;
}

.time-current.light {
  color: #4e4e4e; /* כהה במצב בהיר */
  font-weight: bold;
}

.time-duration.dark {
  color:  #4e4e4e; /* גוון ביניים במצב כהה */
}

.time-duration.light {
  color: #ffffff; /* גוון ביניים בהיר יותר במצב בהיר */
}
}
  /* רספונסיביות למובייל */
  @media (max-width: 480px) {
    .voiceeffect-rectangle {
      padding: 12px;
    }
  
    .voiceeffect-text {
      font-size: 15px;
    }
  
    .audio-button {
      font-size: 14px;
      padding: 6px 10px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px)  {
    .audio-player {
      width: 90%;
      max-width: 320px;
      margin: 10px auto;
      text-align: center;
    }
    
    .voiceeffect-rectangle {
      padding: 16px;
      margin: 10px auto;
      text-align: center;
      max-width: 941px;
    }
    
    .voiceeffect-text {
      display: block;
      font-size: 16px;
      margin-bottom: 8px;
      word-wrap: break-word;
    }
    
    .audio-button {
      font-size: 15px;
      padding: 8px 12px;
      background-color: transparent;
      border: none;
      color: white;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 12px;
      width: 50%;
      height:50%;
    }
    
    .progress-bar {
      direction: rtl;
      position: relative;
      width: 100%;
      height: 29px;
      background-color: #ccc;
      cursor: pointer;
      border-radius: 40px;
      margin-top: 10px;
    }
    
    .progress {
      height: 100%;
      border-radius: 40px;
      background-color: #1bbfe5;
      transition: width 0.1s linear;
    }
    .mic-icon{
      width:auto;
      height: 15vh;
    }
    .time-display {
      margin-top: 8px;
      font-size: 1.5em;
      color: #333;
      text-align: left;
      direction: ltr;
    }
    
  .time-current.dark {
    color: #eee; /* בהיר יותר במצב כהה */
    font-weight: bold;
  }
  
  .time-current.light {
    color: #4e4e4e; /* כהה במצב בהיר */
    font-weight: bold;
  }
  
  .time-duration.dark {
    color:  #4e4e4e; /* גוון ביניים במצב כהה */
  }
  
  .time-duration.light {
    color: #ffffff; /* גוון ביניים בהיר יותר במצב בהיר */
  }
  }



  @media screen and (min-width: 1025px) {
    .audio-player {
      width: 90%;
      max-width: 320px;
      margin: 10px auto;
      text-align: center;
    }
    
    .voiceeffect-rectangle {
      padding: 16px;
      margin: 10px auto;
      text-align: center;
      max-width: 941px;
    }
    
    .voiceeffect-text {
      display: block;
      font-size: 16px;
      margin-bottom: 8px;
      word-wrap: break-word;
    }
    
    .audio-button {
      font-size: 15px;
      padding: 8px 12px;
      background-color: transparent;
      border: none;
      color: white;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 12px;
      width: 50%;
      height:50%;
    }
    
    .progress-bar {
      direction: rtl;
      position: relative;
      width: 100%;
      height: 29px;
      background-color: #ccc;
      cursor: pointer;
      border-radius: 40px;
      margin-top: 10px;
    }
    
    .progress {
      height: 100%;
      border-radius: 40px;
      background-color: #1bbfe5;
      transition: width 0.1s linear;
    }
    .mic-icon{
      width:auto;
      height: 15vh;
    }
    .time-display {
      margin-top: 8px;
      font-size: 1.5em;
      color: #333;
      text-align: left;
      direction: ltr;
    }
    
  .time-current.dark {
    color: #eee; /* בהיר יותר במצב כהה */
    font-weight: bold;
  }
  
  .time-current.light {
    color: #4e4e4e; /* כהה במצב בהיר */
    font-weight: bold;
  }
  
  .time-duration.dark {
    color:  #4e4e4e; /* גוון ביניים במצב כהה */
  }
  
  .time-duration.light {
    color: #ffffff; /* גוון ביניים בהיר יותר במצב בהיר */
  }
  }
