@media screen and (max-width: 768px) {

#game-intro {
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    z-index: 9990;
    background-image: url('/public/assets/imgs/Bg2.png');
    direction: rtl;
}
 
#game-intro .small-microphone {
    top: 41vw;
    right: 4vw;
}
.GameInto-title{
    font-family: "karantina";
    font-size: 12vw;
    font-weight: 400;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #ffffff;
    margin-top: 38vw;
    text-align: center;

}
.audio-container-game{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    margin-top: 70vw;
    background-color: rgb(255, 255, 255);
    border-radius: 5vw;
    padding: 3vw;

}
.pod-explain{
    font-family: "Heebo";
    color: #ffffff;
    width: 90vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 5vw;
    top: 120vw;
}
.next-button-game-intro{
    margin-top: 140vw;
    padding: 3vw 6vw;
    font-size: 5vw;
    background-color: #1bbfe5;
    color: white;
    border: none;
    border-radius: 8vw;
    cursor: pointer;
    font-family: "Heebo";
}
}
@media screen and (min-width: 1025px) {


    #game-intro {
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        z-index: 9990;
        background-image: url('/public/assets/imgs/Bg3.jpg');
        direction: rtl;
    }
     
    .GameInto-title{
        font-family: "karantina";
        font-size: 3em;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        color: #ffffff;
        margin-top: 15vh;
        text-align: center;
    
    }
    .audio-container-game{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        margin-top: 30vh;
    
    }
    .pod-explain{
        font-family: "Heebo";
        color: #ffffff;
        width: 90vw;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-size: 1.2em;
        margin-top: 60vh;
    }
    .next-button-game-intro{
        margin-top: 77vh;
        padding: 10px 20px;
        font-size: 1.3em;
        background-color: #1bbfe5;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-family: "Heebo";
    }

}