 .Gamepage-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2000; /* Ensure it appears above the header */
  text-align: right;
  overflow: hidden;
}

.Game-title{
    font-family: "karantina";
    font-size: 12vw;
    font-weight: 400;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #1bbfe5;
    margin-top: 25vw;
    text-align: center;

}

.info-game{
    font-family: "Heebo";
    font-size: 5vw;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    margin-top: 40vw;
    text-align: center;

}

  .correct-txt{
    font-family: "Heebo";
    transform: rotate(-26deg);
    text-align: right;
    font-size: 5vw;
    font-weight: 600;
  }
  
  .wrong-txt{
    font-family: "Heebo";
    transform: rotate(24deg);
    text-align: left;
    font-size: 5vw;
    font-weight: 600;
}
  
.game-orders{
       position: absolute;
       top: 95vw;
    font-family: "Heebo";
    text-align: center;
    direction: rtl;
    width: 90vw;
    right: 50%;
    transform: translateX(50%);
    color: rgb(105, 105, 105);
    font-size: 6vw;
    font-weight: bold;
}
.feedback {
    position: absolute;
    margin-top: -40vw;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 4vw 4vw;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 7vw;
    max-width: 79vw;
    z-index: 2000;
    height: 110vw;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
  }
  
  .feedback span {
    direction: rtl;
    width: 100%;
    color: rgb(255, 255, 255);
  .feedback.correct {
    font-family: "Karantina";
    font-size: 4vw;
    font-weight: lighter;
  }
  }
  
  .feedback.incorrect {
    background-color: rgb(228, 39, 83);

  }
  .feedback.correct {
    background-color: rgb(21 82 103);

  }
  
  /* ניתן להוריד את margin-top השלילי כי לא צריך אותו עם עיצוב זה */
  .close-feedback {
    position: absolute;
    top: 2vw;
    right: 2vw;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15vw;
    cursor: pointer;
    line-height: 1;
    transition: color 0.3s ease;
  }
  .score-game{
    position: absolute;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Karantina";
    font-size: 10vw;
    direction: rtl;
    top: 150vw;
    color: #515151;
  }
  .game-over-txt2{
    margin-top: 55vw;
    text-align: center;
    font-size: 6vw;
    color:  #515151;
    padding: 4vw;
    border-radius: 5vw;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    direction: rtl;
    font-family: "Heebo";
    user-select: none;
  }
  .game-over-txt1{
    margin-top: 42vw;
    text-align: center;
    font-size: 9vw;
    color:  #515151;
    padding: 2vw;
    border-radius: 2vw;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    direction: rtl;
    font-family: "Karantina";
    user-select: none;
  }
  .end-images-row {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw; /* רווח בין התמונות */
    margin-top: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .end-img {
    max-width: 20vw;
    height: auto;
  }
  .next-button-game {
    position: absolute;
    margin-top: 130vw;
    padding: 3vw 5vw;
    font-size: 5vw;
    background-color: #1bbfe5;
    color: white;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    font-family: "Heebo";
    right:50%;
    transform: translateX(50%);

  }