 .Gamepage-container {
position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2000; /* Ensure it appears above the header */
  text-align: right;
  padding-top: 2vh;
  overflow: hidden;
}




.Game-title{
    font-family: "karantina";
    font-size: 3.5em;
    font-weight: 400;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #1bbfe5;
    margin-top: 13vh;
    text-align: center;

}

.info-game{
    font-family: "Heebo";
    font-size: 1.3em;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    margin-top: 22vh;
    text-align: center;

}

  .correct-txt{
    font-family: "Heebo";
    transform: rotate(-26deg);
    text-align: right;
    font-size: 1.2em;
    font-weight: 300;
  }
  
  .wrong-txt{
    font-family: "Heebo";
    transform: rotate(24deg);
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
}
  
.game-orders{
       position: fixed;
    font-family: "Heebo";
    text-align: center;
    direction: rtl;
    width: 90vw;
    right: 50%;
    transform: translateX(50%);
    color: rgb(105, 105, 105);
    font-size: 7vmin;
    font-weight: bold;
}
.feedback {
    position: fixed;
    margin-top: -22vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 12px 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 7vmin;
    max-width: 79vw;
    z-index: 2000;
    height: 61vh;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
  }
  
  .feedback span {
    direction: rtl;
    width: 100%;
    color: rgb(255, 255, 255);
  .feedback.correct {
    font-family: "Karantina";
    font-size: 4rem;
    font-weight: lighter;
  }
  }
  
  .feedback.incorrect {
    background-color: rgb(228, 39, 83);

  }
  .feedback.correct {
    background-color: rgb(21 82 103);

  }
  
  /* ניתן להוריד את margin-top השלילי כי לא צריך אותו עם עיצוב זה */
  .close-feedback {
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    cursor: pointer;
    line-height: 1;
    transition: color 0.3s ease;
  }
  .score-game{
    position: fixed;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Karantina";
    font-size: 2.5em;
    direction: rtl;
    margin-top: -14vh;
    color: #515151;
  }
  .game-over-txt2{
    margin-top: -9vh;
    text-align: center;
    font-size: 1.8rem;
    color:  #515151;
    padding: 20px;
    border-radius: 12px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
    font-family: "Heebo";
    user-select: none;
  }
  .game-over-txt1{
    margin-top: 22vh;
    text-align: center;
    font-size: 3rem;
    color:  #515151;
    padding: 20px;
    border-radius: 12px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
    font-family: "Karantina";
    user-select: none;
  }
  .end-images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* רווח בין התמונות */
    margin-top: 20px;
  }
  
  .end-img {
    max-width: 100px;
    height: auto;
  }
  .next-button-game {
    position: fixed;
    margin-top: 4vh;
    padding: 10px 20px;
    font-size: 1.3em;
    background-color: #1bbfe5;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Heebo";
    right:50%;
    transform: translateX(50%);

  }