.hamburger-icon {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    top: 3%;
    left: 5%;
    height: 44px;
    z-index: 1001;
    cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
  transition: 0.4s;
}
.hamburger-line.open:nth-child(1) {
    background-color: white;
    transform: rotate(45deg) translate(2px, 2px);
}

.hamburger-line.open:nth-child(2) {
    opacity: 0;
}

.hamburger-line.open:nth-child(3) {
  background-color: white;
  transform: rotate(-45deg) translate(14px, -12px);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #175a85;
    z-index: 20;
    text-align: center; /* ממורכז את כל התוכן בתפריט */
    padding-top: 10vh; /* ריווח למעלה */
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    direction: rtl;
}

.menu.open {
    transform: translateX(0);
}

.menu-title {
    font-size: 8vw;
    color: white;
    margin-bottom: 5vh;
    text-align: center;
    padding: 5vw;
    font-family: "Karantina", Arial;
    font-size: 3em;
}

.menu-list {
    color: white;
    text-align: center;
    list-style: none;
    margin-top: 17vh;
    font-family: "Heebo", Arial;
    position: absolute;
    transform: translateX(50%);
    right: 54%;

}

.submenu {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.menu-item {
    color: white;
    margin-bottom: 2vh; /* ריווח בין פריטים */
    padding: 2vh;
    font-size: 1.3em;
    font-family: "Heebo", Arial;
    text-align: center;
    white-space: nowrap;  /* מונע מהמילים לעבור לשורה הבאה */
    overflow: hidden;     /* מוודא שלא יגלשו מעבר לגבולות */
    text-overflow: ellipsis; /* אם יש יותר מדי טקסט, יופיע '...' בסוף */
}

.whiteLogoHam {
    height: 16vh;
    width: auto;
    position: absolute;
    transform: translateX(50%);
    right: 50%;
}
.mashov-menu {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    color: white;
    text-align: center;
    width: 67vw;
    padding: 1rem;
    z-index: 1002;
    background: rgba(0,0,0,0.3); /* אפשר להוסיף רקע חצי שקוף כדי לראות יותר טוב */
  }
  
  
.mashovTextMenu{
    margin-top: 74vh;
    font-family: "Heebo";
    text-align: center;
    position: absolute;
    font-size: 1.1em;
}

#linkMenu{
    color: white;
}

.fade {
    opacity: 0.5;
}

li.fade {
    pointer-events: none;
}

li[style*="not-allowed"] {
    cursor: not-allowed;
}

.menu-item.locked {
    opacity: 0.5;
    pointer-events: none;
}

.lock-icon {
    height: 3vh;
    width: auto;
    padding-left: 3vw;
}

.dropdown-arrow {
    transform: rotate(180deg);
    height: 3vh;
    width: auto;
    padding-left: 5vw;
    display: inline-block;
}

.dropdown-arrow.open {
    transform: rotate(90deg);
}

.submenu-item {
    font-size: 1em;
    font-family: "Heebo";
    padding: 1vh 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submenu-list {
    padding: 0;
    margin-top: 1vh;
    list-style: none;
    padding-left: 0;
    text-align: center;
    width: 100%;
}
