
@media screen and (max-width: 768px) {
  .Q-explain {
    z-index: 1000;
    margin-top: -5vw;
    font-size: 5vw;
  }

.questions {
    position: absolute;
    top: 75vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 86vh;
    background-size: cover;
    background-repeat: no-repeat;
    direction: rtl;
    background-color: white;
  }
  .questions-card {
    position: relative;
    margin-top: 15vw;
    right: 50%;
    transform: translateX(50%);
    width: 96vw;
    padding: 5vw 5vw;
    border-radius: 10vw;
    background-color: none;
    z-index: 1000;
    box-sizing: border-box;
    min-height: 30vh;
    border: dotted 1.2vw #203160;
    scroll-margin-top: 20vw;
  }
  


.questions {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Heebo";
    
  }
  .Question-t{
    font-family: "Heebo";
    font-size: 5vw;
    width: 74vw;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    font-weight: 200;
    color: #282886;


  }
  .answers {
    display: flex;
        flex-direction: column;
        gap: 3vw;
  }
  
  .answer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    background-color: transparent;
    width: 87vw;
    height: 22vw;
    border-radius: 6vw;
    font-family: "Heebo";
    position: relative;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    padding: 8vw 4vw;
  }
  
  .answer-button.selected {
    background-color: #d3d3d3;
  }
  
  .next-button {
    padding: 2vw 4vw;
    font-size: 4vw;
    cursor: pointer;
  }
  .feedback-Q {
    margin-top: 2vw;
    font-size: 5vw;
    font-weight: bold;
  }
  
  .feedback-Q.correct {
    color: #4caf50; /* ירוק */
  }
  
  .feedback-Q.wrong {
    color: #f44336; /* אדום */
  }
  .next-step-button-Q {
    margin-top: 5vw;
    padding: 3vw 5vw;
    font-size: 4vw;
    border-radius: 30px;
    background-color:#1bbfe5;
    color: white;
    border: none;
    font-family: "Heebo";
    cursor: pointer;
    width:60vw;
  }
  .excelent{
    font-family: "Karantina";
    font-size: 10vw;
    font-weight: 400;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #535353;
    text-align: center;
    margin-top: 10vw;
  }
  .Q-title{
    font-family: "karantina";
    font-size: 5vw;
    font-weight: 400;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #535353;
    margin-top: -15vw;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px)  {

  .questions {
    position: relative;
    top: 35vh;
    left: 0;
    width: 90vw;
    height: 86vh;
    background-size: cover;
    background-repeat: no-repeat;
    direction: rtl;
  }
  .questions-card {
    position: relative;
    margin-top: 6vh;
    right: 50%;
    transform: translateX(50%);
    width: 96vw;
    padding: 20px 10px;
    border-radius: 30px;
    background-color: none;
    z-index: 1000;
    box-sizing: border-box;
    min-height: 30vh;
    border: dotted 4px #203160;
    scroll-margin-top: 10vh;
  }
  


.questions {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Heebo";
    
  }
  .Question-t{
    font-family: "Heebo";
    font-size: 1.4em;
    width: 74vw;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    font-weight: 200;
    color: #282886;


  }
  .answers {
    display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: -2vh;
        margin-bottom: 20px;
  }
  
  .answer-button {
    padding: 10px;
    font-size: 1.1em;
    background-color: transparent;
    width: 87vw;
    height: 11vh;
    border-radius: 30px;
    font-family: "Heebo";
    position: relative;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
  }
  
  .answer-button.selected {
    background-color: #d3d3d3;
  }
  
  .next-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .feedback-Q {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .feedback-Q.correct {
    color: #4caf50; /* ירוק */
  }
  
  .feedback-Q.wrong {
    color: #f44336; /* אדום */
  }
  .next-step-button-Q {
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 1.5em;
    border-radius: 30px;
    background-color:#1bbfe5;
    color: white;
    border: none;
    font-family: "Heebo";
    cursor: pointer;
    width:60vw;
  }
  .excelent{
    font-family: "Karantina";
    font-size: 2.7em;
    font-weight: 400;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #535353;
    text-align: center;
    margin-top: 18vh;
  }
  .Q-title{
    font-family: "karantina";
    font-size: 2em;
    font-weight: 400;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #535353;
    margin-top: -6vh;
    text-align: center;
  }

}
@media screen and (min-width: 1025px) {

}