/* SummaryCards.css */

.summary-card {
    width: 100%;
    height: 120vh;
    max-width: 400px;
    padding: 5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    direction: rtl;
    top: 0vh;
    position: relative;
    z-index: 10000;
  }

  .closeCard{
    font-size: 12vw;
    font-weight: bold;
    color: white;
    left: 9vw;
    font-family: 'Heebo';
    margin-top: 0vw;
    position: absolute;
  }
  
  .card-title {
    font-size: 12vw;
    font-weight: bold;
    text-align: right;
    margin-top: 15vw;
    padding-right:18vw;
    font-family: "Karantina";
    z-index: 1000;
    position: absolute;
  }
  .card-sections-wrapper {
    margin-top: 50vw; /* משנה את המיקום של כל שלושת הסקשנים יחד */
    display: flex;
    flex-direction: column;
    gap: 6vw; /* רווח בין השלושה */
  }
  
  .card-section {
    display: flex;
    flex-direction: row-reverse; /* מוסיף את זה */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;   
 padding-right: 5vw;
  }
  
  .card-section p {
    flex: 1;
    font-size: 5vw;
    margin: 0;
    font-family: "Heebo";
    padding-right: 5vw;
    text-align: right;
  }
  
  .card-section img {
    width: 25vw;
    height: auto;
  }
  
  .card-arrows {
    position: absolute;
    top: 180vw;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8vw;
    pointer-events: none;
  }
  
  .card-arrows button {
    background-color: transparent;
    border: none;
    width: 0;
    height: 0;
    pointer-events: auto;
    cursor: pointer;
  }
  
  /* חץ קדימה */
  .card-arrows button.forward {
    border-top: 6vw solid transparent;
    border-bottom: 6vw solid transparent;
    border-right: 6vw solid white;
  }
  
  /* חץ אחורה */
  .card-arrows button.backward {
    border-top: 6vw solid transparent;
    border-bottom: 6vw solid transparent;
    border-left: 6vw solid white;
  }
  
  .card-arrows button:disabled {
    opacity: 0.3;
    cursor: default;
  }
  .point-num{
    font-family: "Karantina";
    position: fixed;
    color: white;
    top: -42vw;
    right: 16vw;
    font-size: 55vw;
    font-weight: bold;
    z-index: 8;

  }