.next-blue {
    rotate: 90deg;
    width: 15vw;
    margin-top: 90vh;
}

#true-false-text {
    width: 70vw;
    font-size: 7vmin;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 45vh; 
    width: 90vw;
    text-align: center;
    font-family: "Heebo";
    color: #003561;
}
