@media screen and (max-width: 768px) {

.Q-explain{
    position: absolute;
    margin-top: 34vh;
    width: 90vw;
    right: 50%;
    transform: translateX(50%);
    font-family: "Heebo";
    font-size: 1.2em;
}
.footer-vid {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: rgba(86, 85, 85, 0);
    font-weight: bold;
    margin-top: 63vh;
    margin-bottom: -31vh;
    width: 90vw;
    font-size: 1.1em;
}
}


@media screen and (min-width: 769px) and (max-width: 1024px)  {

  
  .Q-explain{
      position: absolute;
      margin-top: 45vh;
      width: 90vw;
      right: 50%;
      transform: translateX(50%);
      font-family: "Heebo";
      font-size: 2em;
  }
  .footer-vid {
      position: absolute;
      right: 50%;
      height: 10vh;
      transform: translateX(50%);
      background-color: rgba(86, 85, 85, 0);
      font-weight: bold;
      margin-top: 2vh;
      width: 90vw;
      font-size: 1.1em;
  }
  
  
  }
  
  
  
  @media screen and (min-width: 1025px) {


.Q-explain{
    position: absolute;
    margin-top: 45vh;
    width: 90vw;
    right: 50%;
    transform: translateX(50%);
    font-family: "Heebo";
    font-size: 2em;
}
.footer-vid {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: rgba(86, 85, 85, 0);
    font-weight: bold;
    margin-top: 42vh;
    width: 90vw;
    font-size: 1.1em;
}
  }