.App {
  text-align: center;
  font-family: "heebo";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Heebo:wght@400;700&family=Karantina:wght@400;700&display=swap');


.header-fixed{
  position: fixed; 
  z-index: 10000;
}

.home{
  z-index: 100;

}

.orientation-warning{
  position: fixed;
  top:0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  background-image:url("/public/assets/imgs/Bg5.png");
  background-size: cover;
  background-repeat: no-repeat;
}